/* Fonts from Google Fonts - more at https://fonts.google.com */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');
#content {
    max-width: 1100px;
    margin: 0 auto;
}

header {
    background-color: #212D40;
    border-radius: 10px 10px 10px 10px;
    padding: 10px;
}

h1 {
    font-family: 'Fredoka One', cursive, sans-serif;
    color: seashell;
    text-align: center;
    margin: auto;
}

#name {
    text-align: center;
    font-size: 25px;
    margin: auto;
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
}

.image-1 {
    grid-column: 1/1;
    grid-row: 4/4;
}

.image-2 {
    grid-column: 2/2;
    grid-row: 4/4;
}

.image-3 {
    grid-column: 3/3;
    grid-row: 4/4;
}

.heading-1 {
    grid-column: 1/1;
    grid-row: 1/1;
    border-radius: 10px 10px 10px 10px;
}

.heading-2 {
    grid-column: 2/2;
    grid-row: 1/1;
    border-radius: 10px 10px 10px 10px;
}

.heading-3 {
    grid-column: 3/3;
    grid-row: 1/1;
    border-radius: 10px 10px 10px 10px;
}

#site-1 {
    grid-column: 1/1;
    grid-row: 2/2;
}

#site-2 {
    grid-column: 2/3;
    grid-row: 2/2;
}

#site-3 {
    grid-column: 3/3;
    grid-row: 2/2;
}

#link-1 {
    grid-column: 1/1;
    grid-row: 3/3;
}

#link-2 {
    grid-column: 2/2;
    grid-row: 3/3;
}

#link-3 {
    grid-column: 3/3;
    grid-row: 3/3;
}

#paragraph-1 {
    grid-column: 1/1;
    grid-row: 5/5;
}

#paragraph-2 {
    grid-column: 2/2;
    grid-row: 5/5;
}

#paragraph-3 {
    grid-column: 3/3;
    grid-row: 5/5;
}

h2 {
    font-family: 'Fredoka One', cursive, sans-serif;
    color: seashell;
    background-color: #212D40;
    padding: 10px;
}

#elerunndu {
    text-align: center;
    font-family: 'Fredoka One', cursive, sans-serif;
}

#demo {
    text-align: center;
    font-family: 'Fredoka One', cursive, sans-serif;
}

.footer {
    background-color: #212D40;
    margin: 0px;
    margin-top: 50px;
    padding: 20px;
    border-radius: 10px 10px 10px 10px;
    color: seashell;
}